@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  overflow-x: hidden;
}

.blink {
  animation: blink 1s step-start 0s infinite;
}

.bounce {
  animation: bounce 1s ease-in-out infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10%);
  }
}
