<section
  class="relative w-full h-[66vh] min-h-[800px] md:w-2xl lg:w-5xl xl:w-2/3 mx-auto bg-linear-to-br from-[#430743] to-[#1e011e] overflow-hidden rounded-[6rem] p-4"
>
  <img
    src="/main-hero.png"
    alt="Cumple un tipazo"
    class="absolute w-full h-full top-0 left-0 aspect-square object-cover sm:object-contain pointer-events-none select-none"
  />
  <aside
    class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 flex flex-col gap-y-8 text-center"
  >
    <h1 class="text-4xl sm:text-6xl font-bold whitespace-nowrap drop-shadow-lg">
      Cumple un tipazo!👀
    </h1>
    <code
      class="relative -mt-6 bg-black px-2 py-1 text-green-500 pr-3 w-min mx-auto"
      >this.service.upgradeYears() <span class="absolute right-1 blink h-full"
        >|</span
      ></code
    >

    <article
      class="relative -rotate-3 text-start p-4 rounded w-min mx-auto bg-[url('/public/card-bg-1.webp')] bg-cover bg-no-repeat"
    >
      <h2
        class="text-red-700 font-extrabold text-3xl sm:text-5xl whitespace-nowrap"
      >
        22 de NOVIEMBRE
      </h2>
      <p class="ml-1 text-blue-900 font-semibold text-xl sm:text-2xl">
        21hs (NO LLEGUES TARDE, PETE)
      </p>
      <p class="text-purple-900 text-2xl sm:text-3xl font-bold">
        PONGO CENA, CORTA Y
      </p>
      <p
        class="ml-4 -mt-1 text-purple-900 text-2xl sm:text-3xl font-bold whitespace-nowrap -rotate-1"
      >
        HIELO, TRAÉ PA TOMAR 🍻
      </p>
      <p class="text-green-950 font-semibold text-xl sm:text-2xl text-center">
        AGREGÁ TU MÚSICA 🎧
      </p>

      <a
        href="https://open.spotify.com/playlist/3pArc9tNGvVH9ALJTgCKXH?si=5983a96ca7fd43ea&pt=d91efb1ffa5047b7bfbca1d25f1a113c"
        target="_blank"
        class="sm:absolute -bottom-10 -right-10 transform rotate-12 overflow-hidden rounded-lg"
      >
        <img
          src="/qr-code.png"
          alt="Spotify"
          class="w-32 h-32 mx-auto"
        />
      </a>
    </article>

    <article
      class="-rotate-3 p-4 rounded mx-auto bg-[url('/public/card-bg-2.webp')] bg-cover bg-no-repeat"
    >
      <h2 class="text-black font-extrabold text-2xl sm:text-4xl">
        No es una fiesta.
      </h2>
      <h2 class="text-black font-extrabold text-xl sm:text-2xl">
        Es un secuestro voluntario de tu hígado.
      </h2>
    </article>
  </aside>
  <div
    class="absolute bottom-0 left-0 w-full h-1/6 bg-linear-to-t from-black to-transparent flex items-end justify-center"
  >
    <p class="text-white font-semibold text-center text-2xl bounce pb-4">▼</p>
  </div>
</section>
